$appImagesDir: '/assets/images/';
$appGifsDir: '/assets/images/gifs/';
$appFontsDir: '/assets/fonts/';

// COLORS
$black: #000;
$gray-light: #e6e6e6;
$gray-medium: #969696;
$gray-dark: #565656;
$red: #e4606d;
$white: #fff;
$yellow: #fc6;
$yellow0: #fa0;
$yellow1: #dd0;
