@import '~bootstrap/scss/_functions';
@import 'partials/bootstrap-overrides';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins.scss';
@import '../../scss/partials/variables';

.navbar {
  @include media-breakpoint-up(md) {
    margin: 0 auto;
    max-width: 720px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 960px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 1140px;
  }

  &.home {
    .navbar-brand {
      opacity: 0;

      @include media-breakpoint-up(md) {
        opacity: 1;
      }
    }
  }
}

.navbar-brand {
  font-size: $h6-font-size;
  .logo {
    color: white;
    height: 24px;
    margin-right: 0.5em;
    width: 24px;
  }
  .header-h1 {
    display: inline-block;
    font-size: inherit;
    line-height: 1;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}

.navbar-toggler {
  color: $link-color;
  padding-right: 0;

  &:hover {
    color: $link-hover-color;
  }
}

.nav-item {
  @include media-breakpoint-up(md) {
    text-align: center;

    // accommodate active-state bold font-weight
    // to prevent nav-item widths from changing between states
    &.home {
      min-width: 65px;
    }
    &.view-instance {
      min-width: 130px;
    }
  }
}

.nav-link {
  &.active {
    color: lighten($yellow, 20%);
    font-weight: bold;
  }
  &:not(.dropdown, [dropdown]) {
    &.active {
      cursor: default;
    }
  }

  @include media-breakpoint-up(md) {
    border-right: 1px solid rgba($yellow, 35%);

    &:first-child {
      border-left: 1px solid rgba($yellow, 35%);
    }
  }
}
