@import '~bootstrap/scss/_functions';
@import 'partials/bootstrap-overrides';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins.scss';
@import 'partials/variables';

:host {
  display: block;
  font-size: 12px;
  padding: 15px;

  @include media-breakpoint-up(md) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 720px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 960px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 1140px;
  }
}

.footer-left {
  display: none;

  @include media-breakpoint-up(md) {
    display: inline-block;
  }
}

.footer-center,
.footer-right {
  display: block;
  @include media-breakpoint-up(md) {
    display: inline-block;
  }
}
