@import '~bootstrap/scss/_functions';
@import './../../../scss/partials/bootstrap-overrides';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins.scss';

.view-wrapper {
  position: relative;

  @include media-breakpoint-up(md) {
    min-height: 1020px;
  }
}

.header-smart-figure {
  @include media-breakpoint-up(md) {
    margin-bottom: 510px;
  }
}

.smart-figure {
  @include media-breakpoint-up(md) {
    position: absolute;
    top: 140px;

    &.view-base-02 {
      left: 170px;
    }

    &.view-base-03 {
      left: 390px;
    }
  }
}

.smart-gif {
  @include media-breakpoint-up(md) {
    position: absolute;
    top: 570px;

    &.view-base-01 {
      left: 0;
    }

    &.view-base-02 {
      left: calc(250px + 1.5em);
    }
  }
}
