@import '~bootstrap/scss/_functions';
@import 'partials/bootstrap-overrides';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins.scss';

// shared styling for all view-instances
:host {
  // copy of Bootstrap .col-12
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}
.view-wrapper {
  margin-bottom: 66px;
  position: relative;

  @include media-breakpoint-up(md) {
    margin-bottom: 48px;
  }

  &.hydrated {
    @keyframes reveal {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    animation-name: reveal;
    animation-duration: 0.8s;
  }

  .view-synopsis {
    padding-bottom: 1.5em;
    position: relative;
    text-align: center;

    .view-title {
      margin-top: 0.5em;
    }

    p {
      @include media-breakpoint-up(xl) {
        padding-left: 6em;
        padding-right: 6em;
      }
    }
  }
}

// view-base's own template styling
.view-wrapper.view-base {
  .header-smart-figure {
    @include media-breakpoint-up(md) {
      margin-bottom: 510px;
    }
  }

  .smart-figure {
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 140px;

      &.view-base-01 {
        left: 0;
      }

      &.view-base-02 {
        left: 170px;
      }

      &.view-base-03 {
        left: 390px;
      }
    }
  }

  .smart-gif {
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 570px;

      &.bow-draw {
        left: 0;
      }

      &.riser-rotate {
        left: calc(250px + 1.5em);
      }
    }
  }
}
