<div class="view-wrapper">
  <h2 class="view-title">View-Base Component</h2>
  <p *ngIf="currentBreakpoint$ | async as currBrkpt">
    currentBreakpoint: <span>{{ currBrkpt }}</span>
  </p>
  <h3 class="header-smart-figure">SmartFigure component-instances</h3>
  <app-smart-figure
    *ngFor="let fig of viewFigures$ | async; let i = index"
    class="smart-figure"
    [ngClass]="getClasshook(fig.imageFilename)"
    [viewImagesSubdir]="viewImagesSubdir"
    [figure]="fig"
    [index]="i"
    [imageDimension]="['w150', 'w200', 'w300']"
    [hideCaption]="false"
    (zoom)="onZoomableImageClick($event)"
  ></app-smart-figure>
  <app-smart-gif></app-smart-gif>
</div>
