<div
  [ngClass]="{
    hydrated:
      (currentBreakpoint$ | async) &&
      (viewFigures$ | async) &&
      (viewGifs$ | async)
  }"
  class="view-wrapper home"
>
  <img
    [src]="appImagesDir + 'logoBsaWhite.png'"
    alt="logo image"
    class="view-logo home"
  />
  <div class="view-synopsis">
    <h2 class="view-title">Black Swan Archery</h2>
    <div class="view-subtitle-wrapper">
      <p class="view-subtitle">“Engineered for performance...</p>
      <p class="view-subtitle">Designed for the hunt”</p>
    </div>
    <p>
      We offer four distinctly different bows, designed using proprietary CAD
      software and the most technically advanced materials, resulting in the
      highest dynamic efficiency of any bow to date. The bows are smooth to draw
      and shoot, forgiving, accurate, and very fast.<br />
      With IBO speeds over <strong>300 FPS!</strong>
    </p>
    <p class="epilogue">
      Black Swan Archery...<br /><span class="emphasis-span"
        >“Perfecting the Traditional Bow”</span
      >
    </p>
  </div>
</div>
