<figure
  *ngIf="figure && (currentBreakpoint$ | async) as currBrkpt"
  [style]="figureStyle"
>
  <img
    #image
    *ngIf="zoomBreakpoints$ | async as zoomBrkpts"
    [src]="appImagesDir + viewImagesSubdir + figure.imageFilename"
    [ngClass]="{
      zoomable: isZoomEnabled(figure, zoomBrkpts, currBrkpt)
    }"
    [style]="imageStyle"
    [title]="
      isZoomEnabled(figure, zoomBrkpts, currBrkpt) ? 'Click to zoom' : ''
    "
    (load)="setStyles($event, zoomBrkpts, currBrkpt)"
    alt="image"
    (click)="onImageClick(figure, zoomBrkpts, currBrkpt)"
  />
  <figcaption *ngIf="!hideCaption">
    {{ figure.caption }}
  </figcaption>
</figure>
