@import '~bootstrap/scss/_functions';
@import 'partials/bootstrap-overrides';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins.scss';

// style :host element (<app-smart-figure class="smart-figure"... />) in parent-component stylesheet.
img {
  height: auto;
  width: 100%;
  // height & width will be dynamically reset in md & larger breakpoints.
  &.zoomable {
    cursor: pointer;
  }
}
figcaption {
  font-size: small;
  line-height: 1.25;
  margin-top: 0.5em;
  width: inherit;
}
