<figure
  *ngIf="figure && (currentBreakpoint$ | async) as currBrkpt"
  [style]="getFigureStyle()"
>
  <img
    *ngIf="zoomState$ | async as zState"
    [src]="appImagesDir + viewImagesSubdir + figure.imageFilename"
    [ngClass]="{
      zoomable: isZoomEnabled(figure, zState.zoomBreakpoints, currBrkpt)
    }"
    [style]="getImageStyle()"
    [title]="
      isZoomEnabled(figure, zState.zoomBreakpoints, currBrkpt)
        ? 'Click to zoom'
        : ''
    "
    alt="image"
    (click)="onImageClick(figure, zState.zoomBreakpoints, currBrkpt)"
  />
  <figcaption *ngIf="!hideCaption" [style]="getCaptionStyle()">
    {{ figure.caption }}
  </figcaption>
</figure>
