<figure
  *ngIf="figure && (currentBreakpoint$ | async) as currBrkpt"
  [style]="figureStyle"
>
  <img
    *ngIf="zoomState$ | async as zState"
    [src]="appImagesDir + viewImagesSubdir + figure.imageFilename"
    [ngClass]="{
      zoomable: isZoomEnabled(figure, zState.zoomBreakpoints, currBrkpt)
    }"
    [style]="imageStyle"
    [title]="
      isZoomEnabled(figure, zState.zoomBreakpoints, currBrkpt)
        ? 'Click to zoom'
        : ''
    "
    (load)="setStyles($event)"
    alt="image"
    (click)="onImageClick(figure, zState.zoomBreakpoints, currBrkpt)"
  />
  <figcaption *ngIf="!hideCaption">
    {{ figure.caption }}
  </figcaption>
</figure>
