<div class="container">
  <h1>Black Swan Archery</h1>

  <p>This is a brand-new web-app, rebuilt from the ground up!</p>

  <h2>Router State</h2>

  <p>[<code>(routerState$ | async).state</code>]:</p>
  <ul *ngIf="routerState$ | async as rState">
    <li><strong>URL</strong>: {{ rState.state.url }}</li>
    <li>
      <strong>root.params</strong>:
      {{ rState.state.root.params }}
    </li>
    <li>
      <strong>root.queryParams</strong>:
      {{ rState.state.root.queryParams }}
    </li>
    <li>
      <strong>root.outlet</strong>:
      {{ rState.state.root.outlet }}
    </li>
  </ul>

  <h2>Splash Video State</h2>
  <p>
    [<code>(splashVideoState$ | async).done</code>]:
    <strong>{{ (splashVideoState$ | async).done }}</strong>
  </p>
  <button (click)="closeSplashVideo()" class="btn btn-primary">Close</button
  >&nbsp;
  <button (click)="endSplashVideo()" class="btn btn-primary">End</button>&nbsp;
  <button (click)="skipSplashVideo()" class="btn btn-primary">Skip</button
  >&nbsp;
  <button (click)="resetSplashVideo()" class="btn btn-primary">
    Reset unplayed
  </button>

  <router-outlet></router-outlet>
</div>
