<div class="container">
  <h1 data-testid="appHeader">Black Swan Archery</h1>

  <p>This is a brand-new web-app, rebuilt from the ground up!</p>

  <h2 data-testid="routerStateHeader">Router State</h2>

  <p>[<code>(routerState$ | async).state</code>]:</p>
  <ul *ngIf="routerState$ | async as rState">
    <li>
      URL: <strong data-testid="routerStateUrl">{{ rState.state.url }}</strong>
    </li>
    <li>
      root.params:
      <strong data-testid="routerStateRootParams">{{
        rState.state.root.params
      }}</strong>
    </li>
    <li>
      root.queryParams:
      <strong data-testid="routerStateRootQueryParams">{{
        rState.state.root.queryParams
      }}</strong>
    </li>
    <li>
      root.outlet:
      <strong data-testid="routerStateRootOutlet">{{
        rState.state.root.outlet
      }}</strong>
    </li>
  </ul>

  <h2 data-testid="splashVideoStateHeader">Splash Video State</h2>
  <p>
    [<code>(splashVideoState$ | async).done</code>]:
    <strong data-testid="splashVideoStateDone">{{
      (splashVideoState$ | async).done
    }}</strong>
  </p>
  <button
    (click)="finishSplashVideo()"
    class="btn btn-primary"
    data-testid="btnFinishSplashVideo"
  >
    Finish</button
  >&nbsp;
  <button
    (click)="resetSplashVideo()"
    class="btn btn-primary"
    data-testid="btnResetSplashVideo"
  >
    Reset unplayed
  </button>

  <router-outlet></router-outlet>
</div>
