@import '~bootstrap/scss/_functions';
@import 'partials/bootstrap-overrides';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins.scss';
@import 'partials/variables';

// this stylesheet also controls most page-layout
.container {
  position: relative;
  .container-background {
    bottom: 0;
    left: 0;
    background-image: url('#{$appImagesDir}black-tile.png');
    opacity: 80%;
    position: absolute;
    right: 0;
    top: 0;
  }

  &.home {
    .container-background {
      opacity: 0;
    }
  }
}

.smart-figure {
  position: static;
}
