@import '~bootstrap/scss/_functions';
@import 'partials/bootstrap-overrides';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins.scss';
@import 'partials/variables';

// this stylesheet controls most page-layout
$headerHeight: 58px;

header {
  // fixed-position in 'xs'
  background-color: black;
  position: fixed;
  min-width: 100%;
  top: 0;
  transition: top 0.5s;
  z-index: 10;

  @include media-breakpoint-up(sm) {
    position: static;
    z-index: initial;
  }

  @include media-breakpoint-up(md) {
    margin: 0 auto;
    max-width: 720px;
    min-width: initial;
  }

  @include media-breakpoint-up(lg) {
    max-width: 960px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 1140px;
  }

  &.header-up {
    // hide when not scrolled-down in 'xs'
    top: -$headerHeight;

    @include media-breakpoint-up(sm) {
      top: initial;
    }
  }
}

.container {
  position: relative;

  &.home {
    .container-background {
      opacity: 0;
    }
  }

  .container-background {
    bottom: 0;
    left: 0;
    background-image: url('#{$appImagesDir}black-tile.png');
    opacity: 80%;
    position: absolute;
    right: 0;
    top: 0;
  }

  main {
    // accommodate header fixed-position in 'xs'
    padding-top: $headerHeight;

    @include media-breakpoint-up(sm) {
      padding-top: 0;
    }
  }
}

.smart-figure {
  position: static;
}
