<div class="container">
  <header>
    <img
      src="/assets/img/logoBsaWhite.png"
      alt="Black Swan Archery logo image"
      class="logo"
    />
    <h1 data-testid="appHeader">Black Swan Archery</h1>
  </header>

  <p>This is a brand-new web-app, rebuilt from the ground up!</p>

  <h2 data-testid="routerStateHeader">Router State</h2>

  <p>[<code>(routerState$ | async).state</code>]:</p>
  <ul *ngIf="routerState$ | async as rState">
    <li>
      URL: <strong data-testid="routerStateUrl">{{ rState.state.url }}</strong>
    </li>
    <li>
      root.params:
      <strong data-testid="routerStateRootParams">{{
        rState.state.root.params
      }}</strong>
    </li>
    <li>
      root.queryParams:
      <strong data-testid="routerStateRootQueryParams">{{
        rState.state.root.queryParams
      }}</strong>
    </li>
    <li>
      root.outlet:
      <strong data-testid="routerStateRootOutlet">{{
        rState.state.root.outlet
      }}</strong>
    </li>
  </ul>

  <h2 data-testid="splashVideoStateHeader">Splash Video State</h2>
  <p *ngIf="splashVideoState$ | async as svState">
    [<code>(splashVideoState$ | async).done</code>]:
    <strong data-testid="splashVideoStateDone">{{ svState.done }}</strong>
  </p>
  <p>
    <button
      (click)="finishSplashVideo()"
      class="btn btn-primary"
      data-testid="btnFinishSplashVideo"
    >
      Finish</button
    >&nbsp;
    <button
      (click)="resetSplashVideo()"
      class="btn btn-primary"
      data-testid="btnResetSplashVideo"
    >
      Reset unplayed
    </button>
  </p>

  <h2 data-testid="figuresStateHeader">Figures State</h2>

  <ul>
    <li *ngIf="homeFiguresState$ | async as homeFigs">
      Home:
      <ul>
        <li *ngFor="let fig of homeFigs">
          imageFilename:
          <strong data-testclass="imageFilename">{{
            fig.imageFilename
          }}</strong>
        </li>
      </ul>
    </li>
    <li *ngIf="view2FiguresState$ | async as view2Figs">
      View2:
      <ul>
        <li *ngFor="let fig of view2Figs">
          imageFilename:
          <strong data-testclass="imageFilename">{{
            fig.imageFilename
          }}</strong>
        </li>
      </ul>
    </li>
  </ul>

  <h3 data-testid="smartFigureComponentHeader">SmartFigure component</h3>

  <app-smart-figure></app-smart-figure>

  <h3>Images Cachebusting</h3>
  <p>
    Inspect img tag below. Dev tools should show just original filename in
    local, but with content-hash appended in external environments. A
    build-script fingerprints all asset filenames, and updates all references in
    source files.
  </p>
  <p>
    <img src="/assets/img/home/arvid.jpg" alt="Photo of Arvid Danielson" />
  </p>

  <h3 data-testid="gtmHeader">Google Tag Manager</h3>
  <p>
    <button
      (click)="pushGtmTag('CookieConsent-dismiss')"
      class="btn btn-primary"
      data-testid="btnCustomEvent"
    >
      Push tag for CookieConsent-dismiss event
    </button>
  </p>

  <h3 data-testid="formMailHeader">FormMail</h3>
  <form id="formMailForm" [action]="formMailAction" method="post">
    <input type="hidden" name="recipient" [value]="formMailRecipients" />
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="realname">Your name</label>
        <input
          type="text"
          class="form-control"
          id="realname"
          name="realname"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="email">Your email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          required
        />
      </div>
    </div>
    <div class="form-group">
      <label for="subject">Subject</label>
      <input
        type="text"
        class="form-control"
        id="subject"
        name="subject"
        required
      />
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea
        name="message"
        id="message"
        rows="5"
        class="form-control"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send message</button>
  </form>

  <router-outlet></router-outlet>
</div>
