<div
  [ngClass]="{
    hydrated:
      (currentBreakpoint$ | async) &&
      (viewFigures$ | async) &&
      (viewGifs$ | async)
  }"
  class="view-wrapper limbs"
>
  <div class="view-synopsis">
    <h2 class="view-title">Bow Limbs</h2>
    <p>
      Designed for the modular bow system with interchangeable limbs, using
      proprietary CAD software. Made with the most advanced materials available,
      high modulus carbon (proprietary formula) and carbon powered core
      (proprietary). Producing speeds over 300 FPS, with stability, accuracy,
      and consistency.
    </p>
    <p class="click-instructions">
      Click a <strong>yellow button</strong> below to see
      <br class="d-inline d-md-none" />bow details & draw-cycle.
    </p>
  </div>
  <div class="mapped-image-wrapper">
    <img
      [attr.src]="appImagesDir + viewImagesSubdir + 'limbs-01.png'"
      useMap="#image-map"
      class="mapped-image limbs-01"
      alt="bow limbs image"
    />
    <a
      *ngFor="let link of links; index as i"
      [routerLink]="link.route"
      [attr.aria-label]="link.label"
      [attr.title]="link.label"
      [attr.class]="'button-link limbs-0' + (i + 1)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        class="bi bi-arrow-right-square-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"
        />
      </svg>
    </a>
  </div>
</div>
