@import '~bootstrap/scss/_functions';
@import 'partials/bootstrap-overrides';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '../../shared/view-base/view-base.component.scss';

.limbs-01 {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 600px;
  }
}
